<div>
    <app-timer></app-timer>
</div>
<div>
    <hr>
</div>
<div>
  <h2>Perseverance Camera</h2>
  <app-perseverance-photos></app-perseverance-photos>
</div>
<div>
  <app-curiosity-sol></app-curiosity-sol>
</div>
<table>
    <tr>
        <td>
            <app-mars-rover-photos></app-mars-rover-photos>
        </td>
    </tr>
    <tr>
        <td>
            <app-mars-rover-photos [inputCuriositySol]="2"></app-mars-rover-photos>
        </td>
    </tr>
    <tr>
        <td>
            <app-mars-rover-photos [random]=true></app-mars-rover-photos>
        </td>
    </tr>
</table>
<div>
    <app-apod></app-apod>
</div>
<div>
    <app-insight-weather-data></app-insight-weather-data>
</div>
