<!-- Experimental to automatically switch to random curiosity photo -->

<!-- <div>
    <app-timer></app-timer>
</div>  -->

<!-- <div>
  <app-curiosity-sol></app-curiosity-sol>
</div> -->
<table border="1">
    <thead>
        <th>Curiosity Latest</th>
        <th>Curiosity Sol 2</th>
        <th>Curiosity Random Photo</th>
    </thead>
    <tr>
        <td>
            <app-mars-rover-photos></app-mars-rover-photos>
        </td>
        <td>
            <app-mars-rover-photos [inputCuriositySol]="2"></app-mars-rover-photos>
        </td>
        <td>
            <!-- <app-mars-rover-photos [random]=true></app-mars-rover-photos> -->
            <app-timer></app-timer>
        </td>
    </tr>
</table>
<hr>
<table>
    <thead>
        <th>Perseverance Latest Photos</th>
    </thead>
    <tr>
        <app-perseverance-photos></app-perseverance-photos>
    </tr>
</table>
<div>
    <app-apod></app-apod>
</div>
<!-- <div>
    <app-insight-weather-data></app-insight-weather-data>
</div> -->